<header id="header">
    <div class="navbar">
        <div class="logo"><a href="/"><span>SILK ROAD</span> DISCOVERIES</a></div>
        <div class="menu-toggle" id="menuToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav-links" id="navLinks">
            <a href="/">Home</a>
            <a href="/#tours">Tours</a>
            <a href="/#about">Team</a>
            <a href="/#journey">About</a>
            <a href="/blog">Blog</a>
            <button class="btn"><a href="/#contact">CONTACT US</a> </button>
        </nav>
    </div>
</header>